@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <h2>Kitchen Story</h2><br />

        <h2>123 Main Street, Anytown, USA</h2><br />
        <abbr title="Phone">P:+12 1234567890</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    </main>
