@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
        <div class="container">
            <h1 class="display-3">KITCHEN STORY</h1>
            <p class="lead">Welcome to Kitchen Story, your one-stop destination for all your basic food item needs!</p>
        </div>
    </div>

    <div class="row mt-5">
        <section class="col-md-4" aria-labelledby="foodItemsTitle">
            <h2 id="foodItemsTitle">Food Items</h2>
            <p>Experience a symphony of flavors that will delight your palate.</p>
        </section>
        <section class="col-md-4" aria-labelledby="ordersTitle">
            <h2 id="ordersTitle">Orders</h2>
            <p>Experience hassle-free dining from the comfort of your home. </p>
        </section>
        <section class="col-md-4" aria-labelledby="menusTitle">
            <h2 id="menusTitle">Menus</h2>
            <p>Embark on a culinary adventure with our diverse selection of dishes</p>
        </section>
    </div>
</main>

<style>
    main {
        padding: 20px 0;
        
    }
  
    .jumbotron {
        padding: 80px 0;
        text-align: center;
        background-color:cadetblue;
    }

    .display-3 {
        font-size: 3.5rem;
        font-weight: bold;
    }

    .lead {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .btn-outline-light {
        color: #fff;
        border-color: #fff;
    }

        .btn-outline-light:hover {
            color: #000;
            background-color: #fff;
            border-color: #fff;
        }
</style>