
@{
    ViewBag.Title = "SelectedItems";
}

<style>
    form {
        width: 100%;
        border: 2px solid lightblue;
        background-color: aquamarine;
        text-align: center;
        margin: auto;
        padding: 10px;
    }
</style>

<h2>Selected Items</h2>

<form method="post">
    <br />
    Enter the quantity of the @TempData["FoodItem"]:
    <input type="number" name="itemQuantity" /> <br /><br />
    Enter the Delivery Address:
    <input type="text" name="deliveryAddress" />
    <br /><br />
    <input type="submit" />
</form>

