
@{
    ViewBag.Title = "SuccessPage";
}

<h2>SuccessPage</h2>

<h2>Password has been changed successfully.</h2>
<div>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Login", "Login")
</div>